<!-- src/app/features/auth/update-password/update-password.component.html -->
<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>Establecer nueva contraseña</h2>
      <p>crea una contraseña segura para tu cuenta.</p>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="auth-form">

      <!-- Campo Nueva Contraseña -->
      <div class="form-group">
        <label for="newPassword">Nueva Contraseña</label>

        <nz-input-password nzSize="large">
          <input
            nz-input
            id="newPassword"
            formControlName="newPassword"
            placeholder="Mínimo 8 caracteres"
            nzSize="large">
        </nz-input-password>

        @if (invalidField('newPassword')) {
          <div class="error">
            @if (updateForm.controls.newPassword.hasError('required')) {
              <span>La contraseña es obligatoria.</span>
            }
            @if (updateForm.controls.newPassword.hasError('pattern')) {
              <span>Debe contener al menos 8 caracteres, una mayúscula, una minúscula y un carácter especial.</span>
            }
          </div>
        }
      </div>

      <!-- Campo Confirmar Contraseña -->
      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña</label>

        <nz-input-password nzSize="large">
          <input
            nz-input
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Repite la nueva contraseña"
            nzSize="large">
        </nz-input-password>

        @if (invalidField('confirmPassword')) {
          <div class="error">
            @if (updateForm.controls.confirmPassword.hasError('required')) {
              <span>Debes confirmar tu contraseña.</span>
            }
            @if (updateForm.controls.confirmPassword.hasError('passwordMismatch')) {
              <span>Las contraseñas no coinciden.</span>
            }
          </div>
        }
      </div>

      <!-- Botón de Envío -->
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzBlock
        [nzLoading]="isLoading()"
        [disabled]="updateForm.invalid"
        type="submit"
        class="btn-submit">
        Actualizar Contraseña
      </button>
    </form>
  </div>
</div>
