// src/styles.scss

/* 1. Importación de Google Fonts (Debe ir siempre arriba) */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 2. Reseteo básico y aplicación de tipografía global */
html, body {
  margin: 0;
  padding: 0;
  /* Aplicamos Nunito como fuente principal, con fallbacks de sistema */
  font-family: "Nunito", system-ui, -apple-system, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f8fafc;
}


/* Clase global para errores de validación (Basado en tu lógica) */
.error {
  color: rgb(245, 12, 12);
  font-size: small;
}

/* ==========================================
   FIX RESPONSIVO: NG-ZORRO RANGE PICKER
   ========================================== */
@media (max-width: 767px) {
  /* Apunta a la clase personalizada que inyectamos desde el HTML */
  .mobile-range-dropdown {
    .ant-picker-panel-container {
      /* Obliga a los dos paneles del calendario a apilarse verticalmente */
      .ant-picker-panels {
        display: flex !important;
        flex-direction: column !important;
      }

      /* Oculta el divisor vertical entre los dos calendarios (ya no es necesario) */
      .ant-picker-panel-separator {
        display: none !important;
      }

      /* Ajuste estético para el panel inferior */
      .ant-picker-panel:last-child {
        border-top: 1px solid #f0f0f0;
      }
    }
  }
}
